.container {
    padding: 20px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.gallery-item {
    width: 30%;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

    .gallery-item img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
