/* General Styles */
body {
    background-image: url('images/Image3.jpg');
    background-size: cover;
    height: 200px;
}

/* Header and Navigation */
.header {
    background-color: #000;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

    .navbar li {
        margin: 0 15px;
    }

        .navbar li a {
            text-decoration: none;
            color: white;
            font-size: 18px;
            transition: color 0.3s;
        }
            .navbar li a:hover {
                color: #f4b400;
            }

/* Main Content */
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background:no-repeat;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Footer */
.footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


